# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# Local dynamo directories
.dynamodb

# Local S3 directories
s3/*
!s3/cors-config.xml